.booking-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.book {
  width: 50vw;
  background-color: var(--button);
}
